<h2 align="center">Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <%= link_to 'Back', articles_path, class: "btn btn-primary btn-large" %>
  <% if allow_article_edit_delete?(@article) %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary btn-large" %>
    <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-danger" %>
    <div class="container">
      <h2 class="subtitle is-5"><strong><%= @article.comments.count %></strong> Comments</h2>
      <%= render @article.comments %>
      <div class="comment-form">
        <hr />
        <h3 class="subtitle is-3">Leave a reply</h3>
        <%= render 'comments/form' %>
      </div>
    </div>
  <% end %>
</div>